body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  padding: 20px;
}

.lt {
  float: left;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

#tio, #newnet {
  width: 100%;
  height: 200px;
}

#forkme{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#argmax {
  background-color: #DFD;
}

#ppl {
  color: #090;
  font-size: 20px;
}

#epoch {
  color: #900;
  font-size: 20px;
}

#samples {
  display: block;
  white-space: pre;
  padding: 5px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5em;
}

.apred {
  padding: 2px;
  margin: 5px;
  overflow: hidden;
  height: 20px;
  font-size: 14px;
}

#prepro_status {
  background-color: #FFD;
  padding: 5px;
}

#status {
  padding: 2px;
  margin-top: 5px;
}

#controls {
  margin: 5px;
}

.theslider {
  width:90%;
  display: inline-block;
}

.slider_value {
  width: 9%;
  display: inline-block;
}

#wrap {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
}

.abutton {
  width: 120px;
  height: 30px;
  margin: 10px 10px 10px 0px;
}

.hh {
  background-color: #EEE;
  padding: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #999;
  margin-bottom: 2px;
}

#pplgraph {
  float: right;
}

#intro {
  text-align: justify;
}

#input_text {
  width: 100%;
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
  font-size: 14px;
  white-space: pre;
  line-height: 1.4em;
  padding: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=range] {
  width: 300px;
}

// d3 graph

#pplgraph{
  path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
  }

  circle {
    fill: steelblue;
  }
  
  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .tick line {
    opacity: 0.8;
  }

  .tick text {
    font-size: 12px;
  }

  .axis line, .axis path {
    fill: none;
    stroke-width: 1px;
    stroke: lightgrey;
  }
}

// components

.ChooseInputTextComponent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    &:hover, &.sel {
      background-color: steelblue;
      color: white;
    }
  }
}